
body{
    background: #191820;
    color: #f0eefa;
    font-family:'Work Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.title, .subtitle, .post_title{
 font-weight: bolder;
 margin-left:10px
}

.title{
    text-transform: uppercase;
    font-size: 36px;
}

.subtitle{
    font-style: italic;
    font-size: 32px;
}

.post{
    background-color: #1d1c24;
    padding: 1px 1em 1em 1em;
    margin: 10px;
    border-block: 2px solid rgb(100, 100, 100);
    border-inline: 5px solid rgb(60, 60, 60);
    border-radius: 2px;
    box-shadow: 10px 10px 10px rgba(1, 2, 3, 0.3);
}
.post:hover{
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.1);
}

.post_title{
    font-style: italic;
    font-size:20px;
    margin-left: 0px;
    
}

.post_image{
    width:100%;
    position:relative;  
    top:50%;
    left:50%;
    transform:translate(-50%, 0);
}
.post_image:hover{
    width:101%;

    justify-content: center;  

}

@font-face {
    font-family: 'Work Sans';
    src: url(WorkSans.ttf);
}

a{
    color: lightskyblue;
}

a:visited{
    color: lightpink;
    
}
a:hover{
    box-shadow: 0px 0px 5px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;
    
}

@counter-style contact_list{
    system:fixed;
    symbols: '📩' '👥' '🐙'; 
    fallback: contact_list_abreviation;
    suffix:' ';
}

@counter-style contact_list_abreviation{
    system:fixed;
    symbols: "EM" "LN" "GH"
    fallback: blank;
    suffix:' ';
}
@counter-style blank{
    system: cyclic;
    symbols: ' ';
}

.contact_list {
    list-style-type:contact_list;
    font-size: 70%;
    font-weight: 50%;
}
